@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    box-sizing: border-box;
}
body {
    width: 100%;
    margin: 0;
    
    background-color: #202020;
    
    color: #dddddd;
}
h1 {
    margin: 10px 0;
    
    font-family: 'Oswald', Sans-Serif;
}
h2, h3, h4 {
    margin: 0;
    color: #ff6f1c;
    font-family: 'Oswald', Sans-Serif;
}

main {
    width: 100%;
    margin: 0;
    padding: 20px 5px;
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    top: 0;
    left: 15%;
    width: 85%;

    background-position: center;
    border: 2px solid #202020;
    border-radius: 5px;
    
    transition: background-position 1s linear;
    
    text-align: center;
}
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;

    background-color: #303030;
    text-align: center;
}

a {
    text-decoration: none;;
}
strong {
    color: #ff6f1c;
}
p {
    margin: 5px 0;
}
.linkage {
    width: 90%;
    margin: 5%;
}
.navLink {
    width: 100%;
    margin: 0;
    
    border-radius: 15px;
    text-align: center;;
}
.linkage:hover {
    background-color: #ff6f1c;
    color: #0d704a;
    border-radius: 15px;
}
.dark {
    width: 100%;
    margin: 0;
    padding: 10px 0;
}
.light {
    width: 100%;
    margin: 0;
    padding: 10px 0;

    background: #303030;
}
.pageLink {
    text-decoration: none;
}
.pageLink:hover h3{
    color: #e9e9e9;
}